@using TicariOtomasyon.Models.Class
@model List<CargoTracking>
@{
    ViewBag.Title = "CurrentCargoTracking";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}


<br />


<table class="table table-striped">
    <tr>
        <th>Explanation</th>
        <th>Date</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.explanation_</td>
            <td>@x.date_</td>

        </tr>
    }
</table>

