<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>New Current Record</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CurrentName" Placeholder="Name" required="" />
                <input type="text" class="name" name="CurrentSurname" Placeholder="Surname" required="" />
                <input type="text" class="name" name="City" Placeholder="City" required="" />
                <input type="email" class="email" name="CurrentMail" Placeholder="Email" required="" />

                <input type="password" class="password" name="CurrentPassword" Placeholder="Password" required="" />
                <div class="login-check">
                    <label class="checkbox">
                        <input type="checkbox" name="checkbox" checked="">
                        <i> </i> I Accept to the Terms &amp; Conditions
                    </label>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</div>
