@using TicariOtomasyon.Models.Class
@model List<Employee> 
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/View1.cshtml";
}

<h2>Department Detail Page</h2>
<br />
<ol class="breadcrumb mb-4"><li class="breadcrumb-item active">
    Department Name:  @ViewBag.d
</li></ol>
<table class="table table-hover">

    <tr>
       
        <th>Name</th>
        <th>Surname</th>
      
        <th>Buys</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
       
        <th>@x.EmployeeName</th>
        <th>@x.EmployeeSurname</th>
       
        <th><a href="/Department/DepartmentEmployeeSales/@x.EmployeeId" class="btn btn-default" style="background-color:orangered">Buys</a></th>
        
    </tr>
    }
</table>
